#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #78BBEB;
    stroke-width: 1em;
}


#svg #bar {
    stroke: #0883db;
}


#cont {
    display: block;
    height: 220px;
    width: 205px;
    margin: 2em auto; 
    border-radius: 100%;
    position: relative;
}


#cont:after { 
    display: inline-block; 
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    content: attr(data-pct)"%"; 
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em #0883DB;
    color: #fff;
    overflow: auto;
}  

#cont > .centered {  
    display: inline-block; 
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ; 
    content: attr(data-pct)"%";
    margin-top: -40px; 
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em #0883DB;
    color: #fff;
    overflow: auto;
}  


.start_fast{ 
    font-size: 2.1em;
    font-weight: 700;
    text-align: center;
    z-index: 15;
    color: #06548c;
}


#time{
    position: absolute;
    top: 7em;
    left: 3.05em;
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    z-index: 15;
    color: #fff;
}


.pause_fast{ 
    font-size: 2.1em;
    font-weight: 700;
    text-align: center;
    z-index: 15;
    color: #fff;
    text-shadow: 0 0 0.5em #0883DB;
}

.centered {
    display: block; 
    position: fixed;
    top: 55%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}