body
{
    background: url('../img/bg.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    bottom: calc(0px - constant(safe-area-inset-top));
}


/*Menu Section*/
.menu-header{
    background: #555557 !important;
    color: #FFFFFF;
    padding-bottom: 10px !important;
} 

.right{
    text-align: right;
}
 
ul.side-nav>li>a{
    color: #E8F3FB !important;
    font-size: 1.2em;
}

/*User name position and color*/
.name, .name > a{
    color: #E8F3FB !important;
    font-size: 20px !important;
    padding-top: 20px !important;
} 

/*Menu Bar and button*/
.open_menu{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

.Menu_Bar{
    background: #555557 !important;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150
} 
.Menu_Bar_Iphone{
    background: #555557 !important;
    color: #FFFFFF;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150
} 

.Menu_Bar > span{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

.Menu_Bar_Iphone > span{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

/*Custom Divider and Spacer for the menu*/
.divider{
    height: 1px;
    overflow: hidden; 
    width: 90% !important;
    vertical-align: middle !important;
    margin-left: 5% !important;
    background-color: #06548C !important;
    margin: 0;
}

.spacer{
    min-height: 50px;
}
/*End of the Menu Section*/ 

/*Content position fixers*/
.main_content_iphone{
padding-top: 70px; 
padding-bottom: 20px; 
margin-bottom: 0px !important;
}

.main_content{
    padding-top: 50px; 
    /*background: #E8F3FB;*/
    margin-bottom: 0px !important;
}

.main_area{ 
    position: fixed !important;
    z-index: 100;
    width: 100% !important
}

/*Rounded user Image*/
.circle{ 
    border: 4px solid #0883DB !important;
    margin-top: 20px;
    width: 65%; 
    height: auto;
} 

/*Profile Page Styles*/
.gray_bar{
    background: #555557 !important;
    color: #FFFFFF;
}


#circleBar-web-text{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:20px;
    fill:#000;
}
#circleBar-web-labels tspan{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:17px;
    fill:#E8F3FB;
} 
#circleBar-web-values tspan{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 20px; 
    fill:#000;
}
#circleBar-web-values tspan {
    fill: #7D3A4D;
} 

.blueish-white{
    background-color: #E8F3FB !important;
}

.scroll-wrapper{  
    padding-top: 78%;
}
.setings-wrapper{  
        padding-top: 15%;
}

.border_red{
    border-bottom: 8px red solid;
}
.border_green{
    border-bottom: 8px lightgreen solid;
}

.text_glow{
    text-shadow: 0 0 0.5em #0883DB;
}