html
{
    background: url('../img/bg.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    bottom: calc(0px - constant(safe-area-inset-top));
}

/*Menu Section*/
.menu-header{
    background: #3499E1 !important;
    color: #FFFFFF;
    padding-bottom: 10px !important;
    border-bottom: 2px solid #c2d5e2;
    margin-bottom: 0 !important;
    filter: drop-shadow(0 2mm 2mm #0000008a);
} 

.right{
    text-align: right;
    padding-right: 48px
}
 
ul.side-nav>li>a{
    color: #E8F3FB !important;
    font-size: 1.2em;
}

/*User name position and color*/
.name, .name > a{
    color: #E8F3FB !important;
    font-size: 20px !important;
    padding-top: 20px !important;
} 

/*Menu Bar and button*/
.open_menu{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

.Menu_Bar{
    background: #434344 !important;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150
} 
.Menu_Bar_Iphone{
    background: #434344 !important;
    color: #FFFFFF;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150
} 

.Menu_Bar > span{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

.Menu_Bar_Iphone > span{ 
    color: #E8F3FB !important;
    font-size:30px;
    cursor:pointer;
    margin-left: 10px;
    z-index: 1;
}

/*Custom Divider and Spacer for the menu*/
.divider{
    height: 1px;
    overflow: hidden; 
    width: 100% !important;
    vertical-align: middle !important;
    margin-left: 0 !important;
    background-color: #c2d5e2 !important; 
} 

.divider-shadow
{  
    background: #c2d5e2;
    padding-bottom: 4px !important;
    filter: drop-shadow(0 -2mm 2mm #000000);
} 

.spacer{
    min-height: 50px;
}
/*End of the Menu Section*/ 

/*Content position fixers*/
.main_content_iphone{
padding-top: 70px; 
padding-bottom: 20px; 
margin-bottom: 0px !important;
}

.main_content{
    padding-top: 50px; 
    margin-bottom: 0px !important;
}
.secondary_content{
    padding-top: 10px; 
    margin-bottom: 0px !important;
}

.main_area{ 
    position: fixed !important;
    z-index: 100;
    width: 100% !important
}

/*Rounded user Image*/
.circle{ 
    border: 4px solid #c2d5e2 !important;
    margin-top: 20px;
    width: 65%; 
    height: auto;
} 

/*Profile Page Styles*/
.gray_bar{
    background: #3f3f40 !important;
    color: #FFFFFF;
    margin-bottom: 15px;
}

/*Profile Page Styles*/
.blue_bar{
    background: #0883DB !important;
    color: #FFFFFF;
}


#circleBar-web-text{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:20px;
    fill:#000;
}
#circleBar-web-labels tspan{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:17px;
    fill:#E8F3FB;
} 
#circleBar-web-values tspan{
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 20px; 
    fill:#000;
}
#circleBar-web-values tspan {
    fill: #7D3A4D;
} 

.blueish-white{
    background-color: #E8F3FB !important;
}

.scroll-wrapper{  
    padding-top: 82%;
}
.setings-wrapper{  
        padding-top: 15%;
}

.border_red{
    border-bottom: 8px red solid;
}
.border_green{
    border-bottom: 8px lightgreen solid;
}

.text_glow{
    text-shadow: 0 0 0.5em #0883DB;
}

.text_white
{
    color: #FFFFFF;
    text-shadow: 0 0 0.5em #0883DB;
}

.profile_area{
    background: url('../img/bg_profile.png')no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    object-fit: cover;
    /*background: #E8F3FB;*/
}

.text_blk{
    color: #000;
}

.version_control
{
    color: #FFFFFF !important;
}

.input-container_hrs:after {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #e8f3e8;
    content: 'Hrs';
}

.input-container_kg:after {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #e8f3e8;
    content: 'Kg';
}

.input-container_cm:after {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #e8f3e8;
    content: 'Cm';
}

.character-counter
{
    color: #e8f3e8;
}

.hr-shadow { 
    border: none !important;
    outline: none !important;
    margin: 1em 1em 0 !important;
    position: relative !important;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  } 

.achievement_locked
{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.achievement_unlocked
{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
    

¡
.shadowfilter {
-webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
 filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.5));
}

.bottleimage {
width: 500px;
}

.side-nav li.active {
    background-color: #434344 !important;
}
 
.collection-item>a{
    color:#3499E1 !important;
}
 
.card {
    color: #434344 !important;
}
